[include shell_command.cfg]
# This file contains common pin mappings for the BIGTREETECH Manta E3EZ
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)".

# See docs/Config_Reference.md for a description of parameters.

[pause_resume]

[exclude_object]

[include macros.cfg]

#[include ./KAMP/Adaptive_Meshing.cfg]

#[include ./KAMP/KAMP_Settings.cfg]

[display_status]

[include timelapse.cfg]

[include CB1.cfg]

#[include adxl.cfg]

#[include mainsail.cfg]

[include fluidd.cfg]

## Use the PAUSE macro direct in your M600:
##  e.g. with a different park position front left and a minimal height of 50
##    [gcode_macro M600]
##    description: Filament change
##    gcode: PAUSE X=10 Y=10 Z_MIN=50
##  Z_MIN will park the toolhead at a minimum of 50 mm above to bed to make it easier for you to swap filament.
##
## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 5.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 290.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 1.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

[output_pin light]
pin: PB10
#   The pin to configure as an output. This parameter must be
#   provided.
#pwm: False
#   Set if the output pin should be capable of pulse-width-modulation.
#   If this is true, the value fields should be between 0 and 1; if it
#   is false the value fields should be either 0 or 1. The default is
#   False.
value: 1
#   The value to initially set the pin to during MCU configuration.
#   The default is 0 (for low voltage).
#shutdown_value:
#   The value to set the pin to on an MCU shutdown event. The default
#   is 0 (for low voltage).
#cycle_time: 0.100
#   The amount of time (in seconds) per PWM cycle. It is recommended
#   this be 10 milliseconds or greater when using software based PWM.
#   The default is 0.100 seconds for pwm pins.
#hardware_pwm: False
#   Enable this to use hardware PWM instead of software PWM. When
#   using hardware PWM the actual cycle time is constrained by the
#   implementation and may be significantly different than the
#   requested cycle_time. The default is False.
#scale:
#   This parameter can be used to alter how the 'value' and
#   'shutdown_value' parameters are interpreted for pwm pins. If
#   provided, then the 'value' parameter should be between 0.0 and
#   'scale'. This may be useful when configuring a PWM pin that
#   controls a stepper voltage reference. The 'scale' can be set to
#   the equivalent stepper amperage if the PWM were fully enabled, and
#   then the 'value' parameter can be specified using the desired
#   amperage for the stepper. The default is to not scale the 'value'
#   parameter.

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#[include mainsail.cfg]

#[include generic-bigtreetech-xxx.cfg]

[stepper_x]
step_pin: PA14
dir_pin: !PA10
enable_pin: !PA13
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC4
position_endstop: -2
position_min: -2
position_max: 349
homing_speed: 100

[tmc2209 stepper_x]
uart_pin: PB8
diag_pin: PC4
run_current: 1.1877
stealthchop_threshold: 999999

[stepper_y]
step_pin: PC8
dir_pin: !PA15
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB0
position_endstop: -1
position_min: -1
position_max: 294
homing_speed: 100

[tmc2209 stepper_y]
uart_pin: PC9
diag_pin: PB0
run_current: 1.1877
stealthchop_threshold: 999999

[stepper_z]
step_pin: PD2
dir_pin: !PD4
enable_pin: !PD3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop           #enable to use bltouch
#position_endstop: 0
position_max: 350
position_min: -10
homing_speed: 35
second_homing_speed: 1
homing_retract_dist: 2.0

[tmc2209 stepper_z]
uart_pin: PD0
diag_pin: PC6
run_current: 0.500
stealthchop_threshold: 999999

[stepper_z1]
step_pin: PB7
dir_pin: !PB6
enable_pin: !PB4
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop           #enable to use bltouch
#position_endstop: 0
#position_max: 350
#position_min: -10
#homing_speed: 35
#second_homing_speed: 1
#homing_retract_dist: 2.0

[tmc2209 stepper_z1]
uart_pin: PB5
run_current: 0.500
stealthchop_threshold: 999999

[extruder]
max_extrude_only_distance: 1000.0
step_pin: PD5
dir_pin: PD6
enable_pin: !PB3
microsteps: 16
gear_ratio: 42:12
rotation_distance: 26.359
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB11 #HE0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA5 #TH0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 315
pressure_advance_smooth_time: 0.04
pressure_advance: 0.066

[tmc2209 extruder]
uart_pin: PD1
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999

[filament_switch_sensor material_0]
switch_pin: PC5

[safe_z_home]
home_xy_position: 204,144 # Change coordinates to the center of your print bed
speed: 200
z_hop: 10                 # Move up 10mm
z_hop_speed: 10

#[extruder1]
#step_pin: PB7
#dir_pin: PB6
#enable_pin: !PB4
#heater_pin: PB10 # HE1
#sensor_pin: PA5 # T1

#[filament_switch_sensor material_1]
#switch_pin: PB1

[heater_bed]
heater_pin: PB2 #HB
sensor_type: EPCOS 100K B57560G104F #Generic 3950
sensor_pin: PA4 #TB
control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan] #part cooling fan
pin: PA8

[heater_fan fan1]
pin: PB15

[temperature_fan electronics_fan] #cb1 & MCU fan
pin: PB14
control: watermark
max_delta: 3.0
sensor_type: temperature_host
min_temp: 0
max_temp: 100
target_temp: 50

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_470054000650434E37343120-if00
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 5000
max_z_velocity: 10
max_z_accel: 1000

[bltouch]
sensor_pin: ^PA6
control_pin: PA7
x_offset: -49.0
y_offset: 3.0
#z_offset: 0.0
speed: 200
sample_retract_dist=5
stow_on_each_sample = false #high speed for bltoch,
samples_result: average 
samples: 1 #the bl touch is bad, but it ain't that bad. One quick sample is plently unless you want to do 10 samples, 1 is fine. Standard diviation is far less than .0025 so you're all good G
#probe_with_touch_mode = true

[bed_mesh]
speed: 200
horizontal_move_z: 7
mesh_min: 10,10
mesh_max: 300, 297
probe_count: 15,15
mesh_pps: 3,3
#split_delta_z: 0.025
#move_check_distance: 3.0 #this in conjunction with the line above
adaptive_margin: 5
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic

[bed_screws]
screw1: 35, 40
screw2: 276, 40
screw3: 276, 280
screw4: 40, 276

[screws_tilt_adjust]
screw1: 84,37
screw1_name: front left screw 
screw2: 325,37
screw2_name: front right screw
screw3: 325,273
screw3_name: back right screw
screw4: 84,273
screw4_name: back left screw
horizontal_move_z: 7
speed: 200
screw_thread: CW-M4

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

[input_shaper]
#shaper_type_x = mzv
#shaper_freq_x = 35.04
#shaper_type_y = ei
#shaper_freq_y = 46.19

[z_tilt]
z_positions: 59, 144
            349, 144
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points: 59, 144
        349, 144
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 200
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 7
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 10
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.005
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.


########################################
# TMC2209 configuration
########################################

#[tmc2209 stepper_x]
#uart_pin: PB8
##diag_pin: PC4
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 stepper_y]
#uart_pin: PC9
##diag_pin: PB0
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 stepper_z]
#uart_pin: PD0
##diag_pin: PC6
#run_current: 0.650
#stealthchop_threshold: 999999

#[tmc2209 extruder]
#uart_pin: PD1
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 extruder1]
#uart_pin: PB5
#run_current: 0.800
#stealthchop_threshold: 999999

########################################
# TMC2130 configuration
########################################

#[tmc2130 stepper_x]
#cs_pin: PB8
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10
##diag1_pin: PF3
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2130 stepper_y]
#cs_pin: PC9
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10
##diag1_pin: PF4
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2130 stepper_z]
#cs_pin: PD0
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10
##diag1_pin: PF5
#run_current: 0.650
#stealthchop_threshold: 999999

#[tmc2130 extruder]
#cs_pin: PD1
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2130 extruder1]
#cs_pin: PB5
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10
#run_current: 0.800
#stealthchop_threshold: 999999

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC1, EXP1_3=PC3, EXP1_5=PC0, EXP1_7=PA2, EXP1_9=<GND>,
    EXP1_2=PC2,  EXP1_4=<RST>, EXP1_6=PA0, EXP1_8=PA1, EXP1_10=<5V>

#[output_pin PS_ON]
#pin: PA9

#[output_pin pb9_pin]
#pin: PB9

#[neopixel my_neopixel]
#pin: PC7

#[adxl345]
#cs_pin: PC15
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 3.220
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.104235, -0.026735, -0.004235, 0.035765, 0.105765, 0.113265, 0.135765, 0.098265, 0.113265, 0.063265, 0.038265, -0.014235, -0.084235, -0.156735, -0.199235
#*# 	-0.119235, -0.029235, -0.001735, 0.048265, 0.105765, 0.135765, 0.153265, 0.150765, 0.163265, 0.135765, 0.098265, 0.053265, -0.014235, -0.071735, -0.139235
#*# 	-0.079235, -0.021735, 0.040765, 0.070765, 0.138265, 0.168265, 0.173265, 0.193265, 0.190765, 0.158265, 0.145765, 0.115765, 0.048265, -0.021735, -0.034235
#*# 	-0.051735, 0.015765, 0.060765, 0.108265, 0.193265, 0.208265, 0.205765, 0.210765, 0.248265, 0.208265, 0.173265, 0.140765, 0.085765, 0.025765, -0.026735
#*# 	-0.034235, 0.030765, 0.088265, 0.140765, 0.173265, 0.213265, 0.220765, 0.218265, 0.233265, 0.200765, 0.175765, 0.150765, 0.100765, 0.053265, 0.020765
#*# 	-0.039235, 0.020765, 0.055765, 0.113265, 0.210765, 0.233265, 0.218265, 0.238265, 0.268265, 0.233265, 0.210765, 0.200765, 0.143265, 0.103265, 0.050765
#*# 	-0.009235, 0.050765, 0.085765, 0.148265, 0.210765, 0.245765, 0.253265, 0.243265, 0.280765, 0.248265, 0.230765, 0.205765, 0.160765, 0.125765, 0.083265
#*# 	0.023265, 0.065765, 0.103265, 0.155765, 0.225765, 0.230765, 0.248265, 0.250765, 0.268265, 0.243265, 0.228265, 0.195765, 0.160765, 0.095765, 0.065765
#*# 	-0.039235, 0.038265, 0.068265, 0.118265, 0.178265, 0.238265, 0.243265, 0.238265, 0.255765, 0.240765, 0.243265, 0.218265, 0.180765, 0.135765, 0.108265
#*# 	-0.014235, 0.045765, 0.065765, 0.105765, 0.170765, 0.198265, 0.208265, 0.230765, 0.268265, 0.240765, 0.220765, 0.200765, 0.188265, 0.128265, 0.105765
#*# 	-0.011735, 0.045765, 0.080765, 0.115765, 0.178265, 0.188265, 0.200765, 0.213265, 0.233265, 0.200765, 0.195765, 0.178265, 0.123265, 0.100765, 0.075765
#*# 	-0.046735, 0.008265, 0.035765, 0.080765, 0.128265, 0.155765, 0.165765, 0.178265, 0.215765, 0.188265, 0.175765, 0.145765, 0.100765, 0.083265, 0.050765
#*# 	-0.046735, 0.013265, 0.030765, 0.080765, 0.123265, 0.155765, 0.145765, 0.153265, 0.180765, 0.170765, 0.133265, 0.123265, 0.093265, 0.065765, 0.030765
#*# 	-0.059235, -0.001735, 0.008265, 0.028265, 0.088265, 0.090765, 0.123265, 0.128265, 0.128265, 0.133265, 0.088265, 0.078265, 0.038265, 0.003265, -0.024235
#*# 	-0.036735, -0.006735, -0.001735, 0.010765, 0.075765, 0.100765, 0.093265, 0.093265, 0.088265, 0.090765, 0.053265, 0.040765, -0.014235, -0.046735, -0.036735
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 299.94
#*# min_y = 10.0
#*# max_y = 297.0
#*#
#*# [extruder]
#*# pid_kp = 21.333
#*# pid_ki = 2.332
#*# pid_kd = 48.800
#*# control = pid
#*#
#*# [heater_bed]
#*# pid_kp = 70.398
#*# pid_ki = 1.185
#*# pid_kd = 1045.416
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 40.5
#*# shaper_type_y = ei
#*# shaper_freq_y = 37.8
